################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WarehouseManagementBackEnd/WarehouseManagement.API/StartUp/ServiceRepoMapping.cs
