################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WarehouseManagementBackEnd/.vs/WarehouseManagementBackEnd/FileContentIndex
